.login {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
  }

  .login p{
	color: white;
  }
  .login a{
	color: whitesmoke;
  }
  
  .lContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
  }
  
  .lInput{
	height: 30px;
	padding: 10px;
  }
  
  .lButton {
	border: none;
	padding: 10px 20px;
	background-color: #0071c2;
	color: white;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
  }
  
  .rButton:disabled{
	background-color: #0071c28c;
	cursor: not-allowed;
  }

.messages {
	display: flex;
	justify-content: center;
}

.error {
	display: block;
	background-color: red;
	color: white;
	width: 300px;
	padding: 10px;
	margin: 6px;
}

.success {
	display: block;
	background-color: lightblue;
	color: black;
	width: fit-content;
	height: 50px;
	padding: 5px;
}


  

.error {
	display: flex;
  justify-content: center;
  align-items: center;
	background-color: red;
	color: white;
  border-radius: 8px;
  color: white;
}

@media screen and (max-width: 960px) {
 
  .lButton {
    display: block;
    }
}