.register {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
  }

  .register p{
	color: white;
  }
  .register a{
	color: whitesmoke;
  }
  
  .rContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
  }
  
  .rInput{
	height: 30px;
	padding: 10px;
  }
  
  .rButton {
	border: none;
	padding: 10px 20px;
	background-color: #0071c2;
	color: white;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
  }
  
  .rButton:disabled{
	background-color: #0071c28c;
	cursor: not-allowed;
  }

.messages {
	display: flex;
	justify-content: center;
}

.error {
	display: block;
	background-color: red;
	color: white;
	width: 300px;
	padding: 10px;
	margin: 6px;
}

.success {
	display: block;
	background-color: lightblue;
	color: black;
	width: fit-content;
	height: 50px;
	padding: 5px;
}

@media screen and (max-width: 960px) {
 
	.rButton {
	  display: block;
	  }
  }
  